/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styles */
:root {
    --primary-color: #101010;
    --secondary-color: black;
    --tertiary-color: #cc854e;
    --header-color: #dc5f00;
    --accent-color: #b85252;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template: 3.125rem 1fr / 25rem 1fr;
    height: 100vh;
    color: rgb(255, 255, 255);
}

header {
    grid-area: 1 / 1 / 2 / 3 ;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1.25rem;
    font-size: 2.3rem;
    font-weight: bold;
}

header > img {
    height: 3.125rem;
}

.sidebar {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--secondary-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar > .links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar > .links > .filters {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.sidebar > .links > .project-folder-list > li > div {
    font-size: 2rem;
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.sidebar > .links > .project-folder-list > li > div > img {
    height: 2rem;
    width: auto;
    cursor: pointer;
}

.sidebar > .links > .project-folder-list > li > .project-list > li {
    font-size: 1.2rem;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.sidebar > .add-project {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.sidebar > .add-project > input {
    width: 15.625rem;
    height: 1.875rem;
    background-color: var(--secondary-color);
    font-size: 1.3rem;
    border: none;
    border-bottom: 2px solid var(--tertiary-color);
    color: rgb(255, 255, 255);
    font-weight: 200;
    padding-left: 5px;
}

.sidebar > .add-project > input:focus {
    outline: none;
}

.sidebar > .add-project > img {
    height: 2.5rem;
    width: auto;
    cursor: pointer;
}

