/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styles */
:root {
    --primary-color: #101010;
    --secondary-color: black;
    --tertiary-color: #cc854e;
    --header-color: #dc5f00;
    --accent-color: #b85252;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template: 3.125rem 1fr / 25rem 1fr;
    height: 100vh;
    color: rgb(255, 255, 255);
}

header {
    grid-area: 1 / 1 / 2 / 3 ;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1.25rem;
    font-size: 2.3rem;
    font-weight: bold;
}

header > img {
    height: 3.125rem;
}

.sidebar {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--secondary-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar > .links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar > .links > .filters {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    cursor: pointer;
}

.sidebar > .links > .project-folder-list > li > div {
    font-size: 2rem;
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.sidebar > .links > .project-folder-list > li > div > img {
    height: 2rem;
    width: auto;
    cursor: pointer;
}

.sidebar > .links > .project-folder-list > li > .project-list > li {
    font-size: 1.2rem;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.sidebar > .add-project {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.sidebar > .add-project > input {
    width: 15.625rem;
    height: 1.875rem;
    background-color: var(--secondary-color);
    font-size: 1.3rem;
    border: none;
    border-bottom: 2px solid var(--tertiary-color);
    color: rgb(255, 255, 255);
    font-weight: 200;
    padding-left: 5px;
}

.sidebar > .add-project > input:focus {
    outline: none;
}

.sidebar > .add-project > img {
    height: 2.5rem;
    width: auto;
    cursor: pointer;
}

main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--primary-color);
    padding: 6rem;    
}

main > .p-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

main > .p-header > h1,
main > h1 {
    font-size: 4rem;
    color: var(--tertiary-color);
}

main > .p-header > div {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

main > .p-header > div > img {
    height: 4rem;
    width: auto;
    cursor: pointer;
}

main > .p-header > div > img:first-child {
    height: 3.5rem;
}

main > .p-description {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 4rem;
}

main > .todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

main > .todo-header > h2 {
    font-size: 2.5rem;
}

main > .todo-header > img {
    height: 2.5rem;
    width: auto;
    cursor: pointer;
}

main > .todo-list > li,
main > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    border-bottom: 2px solid var(--tertiary-color);
}

main > .todo-list > li > div,
main > ul > li > div {
    display: flex;
    align-items: center;  
}

main > .todo-list > li > .right-box,
main > ul > li > .right-box {
    font-size: 1.5rem;
    gap: 0.625rem;
}

main > .todo-list > li > .right-box > p,
main > ul > li > .right-box > p {
    margin-right: 1rem;
}

main > .todo-list > li > .right-box > img,
main > ul > li > .right-box > img {
    height: 2rem;
    width: auto;
    cursor: pointer;
}

main > .todo-list > li > .right-box > img:first-of-type,
main > ul > li > .right-box > img:first-of-type {
    height: 1.8rem
}

main > .todo-list > li > .left-box,
main > ul > li > .left-box {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-size: 1.5rem;
}

main > .todo-list > li > .left-box > img,
main > ul > li > .left-box > img {
    height: 1.5rem;
    width: auto;
}

main > .todo-list > li > .left-box > input:checked + label {
    text-decoration: line-through; 
}

main > ul > p {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem;
}

main > h1 {
    margin-bottom: 2rem;
}

main > h2 {
    border-bottom: 2px solid white;
    padding-bottom: 0.625rem;
    font-size: 2.5rem;
    margin-top: 2rem;
}

input[type="checkbox"],
.left-box > label {
    cursor: pointer;
}

.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.modal-box.show {
    z-index: 0;
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    width: 25rem;
    height: 20.625rem;
    max-width: 100%;
    border: 3px solid var(--tertiary-color);
    border-radius: 0.625rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1.875rem 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal > h1 {
    font-size: 2.5rem;
    width: 18.75rem;
    color: white;
    padding: 5px 7rem;
    text-align: center;
}

.modal > .task > input,
.modal > input[type="text"] {
    width: 21.875rem;
    height: 1.875rem;
    background-color: var(--primary-color);
    font-size: 1.3rem;
    border: none;
    border-bottom: 2px solid var(--tertiary-color);
    color: rgb(255, 255, 255);
    font-weight: 200;
    padding-left: 5px;
}

.modal > .task > input:focus,
.modal > input[type="text"]:focus {
    outline: none;
}

.modal > .props {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.modal > .props > .date,
.modal > .props > .priority {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.modal > .props > .date > label:first-child,
.modal > .props > .priority > label:first-child {
    font-size: 1.3rem;
}

.modal > .props > .date {
    margin-left: 0.625rem;
}

.modal > .props > .priority {
    margin-right: 2.1875rem;
}

.modal > .buttons {
    display: flex;
    gap: 1.875rem;
}

.modal > .buttons > .ctd-button,
.modal > .buttons > .cp-button {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 0.5rem;
    width: 9.375rem;
    height: 3.125rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.modal > .buttons > .ctd-button:hover,
.modal > .buttons > .cp-button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.modal > .buttons > .td-button,
.modal > .buttons > .p-button {
    background-color: var(--primary-color);
    color: #beca5c;
    border: 2px solid #beca5c;
    border-radius: 0.5rem;
    width: 9.375rem;
    height: 3.125rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.modal > .buttons > .td-button:hover,
.modal > .buttons > .p-button:hover {
    background-color: #beca5c;
    color: var(--primary-color);
}

.modal > .task {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.modal > .task > textarea {
    width: 21.875rem;
    height: 3rem;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border: 2px solid var(--tertiary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    resize: none;
    font-family: sans-serif;
}

.modal > .task > textarea:focus {
    outline: none;
}

.project-modal > .modal {
    display: flex;
    flex-direction: column;
    height: 31.25rem;
    gap: 1.875rem;
}

.project-modal > .modal > textarea {
    width: 21.875rem;
    height: 25rem;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border: 2px solid var(--tertiary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    resize: none;
    font-family: sans-serif, monospace;
}

.project-modal > .modal > textarea:focus {
    outline: none;
}

.toggler-wrapper {
    display: block;
    width: 2.8125rem;
    height: 1.5625rem;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type="checkbox"] {
    display: none;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
    background-color: var(--tertiary-color);
}

.toggler-wrapper .toggler-slider {
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6.25rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
    width: calc(25px - 6px);
    height: calc(25px - 6px);
    background-color: #fff;
    border-radius: 50%;
    left: 3px;
    top: 3px;
}